<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} PUMA Production {% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    {% load bootstrap5 %} 
    {% bootstrap_css %} 
    {% bootstrap_javascript %}
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css" rel="stylesheet" />
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}">
    <link href="https://fonts.cdnfonts.com/css/arial" rel="stylesheet">
    {% block scripts %} {% endblock %}
  </head>
  <body style="background-color: #ffffff; min-height: 100vh;">
    {% if not user.is_authenticated %}
      <div style="height: 100vh; background: linear-gradient(rgba(187, 187, 187, 0.7), rgba(255, 255, 255, 0)); position: relative; overflow: hidden;">
        {% block login %}

        {% endblock %}
      </div>
    {% else %} 
      <div class="wrapper d-flex align-items-stretch">
        {% if user.is_authenticated %}
          <div class="d-flex flex-column" style="height: 100vh; background: #133356; z-index:10; box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); position: sticky; top: 0; left: 0;">
            <div class="pb-1 d-flex align-items-center flex-column" style="margin-top: 100%;">
              {% if user.is_admin or user.role in 'Logisticien,Commercial,Admin' %}
                <div class="d-flex" style="width: 100%; margin: 0px 15px;">
                  {% block activeHome %}{% endblock %}
                  <h4 class="mx-auto" ><a href="{% url 'home' %}" class="text-reset"><i class="fas fa-home menu_item"></i></a></h4>
                </div>
              {% endif %}
              {% if user.role in 'Logisticien,Observateur,Admin' %}
                <div class="d-flex" style="width: 100%; margin: 5px 15px;">
                  {% block activeCreateReport %}{% endblock %}
                  <h4 class="mx-auto"><a href="{% url 'create_report' %}" class="text-reset"><i class="fas fa-file-circle-plus menu_item"></i></a></h4>
                </div>
              {% endif %}
              {% if user.role in 'Logisticien,Observateur,Admin' %}
                <div class="d-flex" style="width: 100%; margin: 0px 15px;">
                  {% block activeListReport %}{% endblock %}
                  <h4 class="mx-auto"><a href="{% url 'reports' %}" class="text-reset"><i class="fas fa-rectangle-list menu_item"></i></a></h4>
                </div>
              {% endif %}
              {% if user.role in 'Commercial,Observateur,Admin' %}
                <div class="d-flex" style="width: 100%; margin: 5px 15px;">
                  {% block activeCreatePlanning %}{% endblock %}
                  <h4 class="mx-auto"><a href="{% url 'create_planning' %}" class="text-reset"><i class="far fa-calendar-plus menu_item"></i></a></h4>
                </div>
              {% endif %}
              {% if user.role in 'Logisticien,Observateur,Admin,Commercial' %}
                <div class="d-flex" style="width: 100%; margin: 0px 15px;">
                  {% block activeListPlanning %}{% endblock %}
                  <h4 class="mx-auto"><a href="{% url 'plannings' %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}" class="text-reset"><i class="far fa-calendar-days menu_item"></i></a></h4>
                </div>
              {% endif %}
              <div class="d-flex" style="width: 100%; margin: 5px 15px;">
                {% comment %} {% if user.is_admin %} {% endcomment %}
                {% if user.role in 'Logisticien,Admin' %}
                  {% block activeFleet %}{% endblock %}
                  <h4 class="mx-auto">
                    <li class="nav-item dropdown dropend list-unstyled">
                      <a class="nav-link text-reset" style="padding: 5px 0.5px;" data-bs-toggle="dropdown" role="button"><i class="fas fa-car fa-sm menu_item"></i></a >
                        <ul class="dropdown-menu list-unstyled">
                          <li><a href="{% url 'reparations' %}" class="dropdown-item">Entretiens et Réparations</a></li>
                          <li><a href="{% url 'fuel_refills' %}" class="dropdown-item">Recharges Gasoil</a></li>
                          <li><a href="{% url 'assurances' %}" class="dropdown-item">Vignettes et Assurances</a></li>
                          <li><a href="{% url 'mission_costs' %}" class="dropdown-item">Frais de missions</a></li>
                          <li><a href="{% url 'masse_salariales' %}" class="dropdown-item">Masse Salariale</a></li>
                      </ul>
                    </li>
                  </h4>
                {% endif %}
              </div>
              <div class="d-flex" style="width: 100%; margin: 5px 15px;">
                {% if user.is_admin %}
                  {% block activeUsers %}{% endblock %}
                  <h4 class="mx-auto">
                    <li class="nav-item dropdown dropend list-unstyled">
                      <a class="nav-link text-reset" style="padding: 5px 0.5px;" data-bs-toggle="dropdown" role="button"><i class="fas fa-users fa-sm menu_item"></i></a >
                        <ul class="dropdown-menu list-unstyled">
                          <li><a href="{% url 'users' %}" class="dropdown-item">Utilisateurs</a></li>
                          <li><a href="{% url 'new_users' %}" class="dropdown-item">Nouveaux</a></li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><a href="{% url 'refresh_users' %}" class="dropdown-item">Actualiser</a></li>
                      </ul>
                    </li>
                  </h4>
                {% endif %}
              </div>
              <div class="d-flex" style="width: 100%; margin: 0px 15px;">
                {% if user.is_admin %}
                  {% block activeSettings %}{% endblock %}
                  <h4 class="mx-auto">
                    <li class="nav-item dropdown dropend list-unstyled">
                      <a class="nav-link text-reset" style="padding: 5px 1.5px;" data-bs-toggle="dropdown" role="button" aria-expanded="false"><i class="fas fa-gear menu_item"></i></a>
                        <ul class="dropdown-menu list-unstyled">
                        <li><a href="{% url 'sites' %}" class="dropdown-item">Sites</a></li>
                        <li><a href="{% url 'emplacements' %}" class="dropdown-item">Emplacements</a></li>
                        <li><a href="{% url 'fournisseurs' %}" class="dropdown-item">Fournissuers</a></li>
                        <li><a href="{% url 'tonnages' %}" class="dropdown-item">Tonnages</a></li>
                        <li><a href="{% url 'prices' %}" class="dropdown-item">Liste des Prix</a></li>
                        <li><a href="{% url 'products' %}" class="dropdown-item">Produits</a></li>
                        <li><a href="{% url 'livraisons' %}" class="dropdown-item">Livraisons</a></li>
                        <li><a href="{% url 'blockeds' %}" class="dropdown-item">Liste Bloqué</a></li>
                        <li><a href="{% url 'drivers' %}" class="dropdown-item">Chauffeurs</a></li>
                        <li><a href="{% url 'vehicles' %}" class="dropdown-item">Camions</a></li>
                        <li><a href="{% url 'reparation_types' %}" class="dropdown-item">Type de réparations</a></li>
                        <li><a href="{% url 'mission_cost_types' %}" class="dropdown-item">Type de frais de mission</a></li>
                      </ul>
                    </li>
                  </h4>
                {% endif %}
              </div>
            </div>
            <div class="mt-auto pb-5 d-flex align-items-center flex-column">
              <h4><a href="/logout" class="text-reset"><i class="fas fa-right-from-bracket fa-rotate-180 menu_item"></i></a></h4>
            </div>
          </div>
        {% else %} 
        <div style="height: 100vh; position: sticky;"></div>
        {% endif %}

        {% if user.is_authenticated %}
        <div style="flex-grow: 1; height: 100%;">
          <div class="row" style="width:100%; position: relative; margin: 40px 0px; {% if not user.is_authenticated %}padding-top: 3%;{% endif %}">
            <div class="col-md-2 d-flex justify-content-center" style="position: absolute; top: 70%; left: 50%; transform: translateY(-50%) translateX(-50%);">
              <img src="{% static 'img/site_logo.png' %}" height="55" style="{% if not user.is_authenticated %}margin-left: 10%;{% endif %}" class="d-inline-block align-top" alt="Puma Logo">
            </div>
            <div class="col-md-12 d-flex justify-content-end p-0">
              <div class="d-flex flex-column align-items-center justify-content-center centered-text float-end m-2">
                <p class="lead p-0 m-0" style="color: #133356">{{ user.fullname }}</p>
                <p class="lead p-0 m-0" style="color: #133356">{{ user.role }}</p>
              </div>
            </div>
          </div>
          {% endif %}
          {% if request.path == "/dashboard/" %}
            <div style="position: sticky; height: 100vh;">
              {% block dashboard %} {% endblock %}
            </div>
          {% else %}
            <div class="container" style="max-width: 94%; margin-top: 10px;">{% block content %} {% endblock %}</div>  
          {% endif %}
        </div>
      </div>
    {% endif %}
    
    <script src="{% static 'js/select.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
      document.querySelectorAll(".select").forEach((el) => new bootstrap5.Select(el));
    </script>
    <style>
      *{
        font-family: 'Arial', sans-serif;
        font-size: 15px;
      }
      .menu_item{
        color: #ffffff; 
        font-size: 22px;
      }
      .formBadge{
            background-color: #133356; 
            padding: 8px; 
            margin-right: 5px;
      }
      .listBadge{
            background-color: #133356; 
            padding: 8px; 
            margin-right: 5px;
      }
      .listBadgeText{
            font-size: 14px;
      }
      .formBadgeText{
            font-size: 14px;
      }
      .customActive{
          border-bottom: 3px solid white;
      }
      .customUnactive{
          color: #b7b9bd;
      }
      .sectionList{
          background: rgba(147, 164, 186, 0.2);
          margin-top: 25px; 
          background: rgba(19, 51, 86, 0.9);
          border-radius: 5px; 
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
      }
      .labelCustom{
          color: #fafbfc; 
          font-size: 14px;
      }
      .customSaveButton{
          background-color: #36516f; 
          border-color: transparent; 
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
      }
      .hidden {
        display: none;
      }
      
      /* .dropdown-menu{ 
        background: rgba(127, 139, 161, 0.9);  
        border-radius: 5px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
      }
      .dropdown-item{
        color: white;
      }
      .dropdown-item:hover{
        background-color: rgba(14, 42, 91, 0.3);
        color: white;
      }*/
    </style>
</body>

</html>
