{% extends 'main.html' %}
{% load widget_tweaks %}

{% block title %}PUMA Transport{% endblock %}
{% load static %} 
{% block login %}

{% if messages|is_login %}
<div class="alert alert-danger" style="z-index: 2; position: absolute; width: 100vw;">
  <strong style="font-weight: normal;">Erreur:</strong>
    <ul>
      {% for message in messages %}
        {% if message|startwith:'LOGIN : ' %}
          <li>{{ message|loginerror:'LOGIN : ' }}</li>
        {% endif %}
      {% endfor %}
    </ul>
</div>
{% endif %}

<img src="{% static 'img/login_1.png' %}" alt="login form" class="img-fluid d-none d-sm-block d-md-block" style="position: absolute; max-width: 38vw;"/>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-end" style="z-index: 3; height: 50vh;">
    <img src="{% static 'img/login_2.png' %}" alt="login form" class="img-fluid"/>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
    <div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
      <div class="card-body text-white">
        <form method="POST">
          {% csrf_token %}
          <div class="d-flex justify-content-center align-items-center">
            <h6 class="fw-normal mb-1 pb-3" style="letter-spacing: 1px; color: #133356">Connectez votre compte</h6>
          </div>
          <div class="form-outline mb-4">
              <label class="form-label">Email / AD 2000</label>
              {{ form.username }}
          </div>
          <div class="form-outline mb-4">
            <label class="form-label">Mot de passe</label>
            <div class="input-group">
              {{ form.password|attr:"id:password" }}
              <span class="input-group-text">
                <i class="fas fa-eye-slash" onClick="togglePass()" id="togglePassword"></i>
              </span>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center pt-1 mb-4">
            <button class="btn btn-lg btn-block" style="background-color: #113574; border-color: transparent; 
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); color: white;" type="submit">Se connecter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<style>
  body{
    background: url('{% static "img/background.png" %}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    position: relative;
  }
</style>

<script>
  const togglePass = () => {
    const passwordInput = document.querySelector('#password');
    const togglePassword = document.querySelector('#togglePassword');
    if (passwordInput.getAttribute('type') == 'password'){
      passwordInput.setAttribute('type', 'text');
      togglePassword.classList.remove('fa-eye-slash');
      togglePassword.classList.add('fa-eye');
    }
    else{        
      passwordInput.setAttribute('type', 'password');
      togglePassword.classList.remove('fa-eye');
      togglePassword.classList.add('fa-eye-slash');
    }
  }
</script>
{% endblock %}
