{% extends "main.html" %}

{% block title %}
Utilisateur - {{ user_details.username }}
{% endblock %}
{% block activeUsers %} {% include 'active_bar.html' %} {% endblock %}
{% block content %}
<div class="d-flex justify-content-left mb-3">
  <a href="{% url 'users' %}{% if request.GET.page %}?page={{ request.GET.page }}{% endif %}" class="text-decoration-none text-white d-flex align-items-center" style="color: rgba(222, 226, 230, 0.8); letter-spacing: 1.2px;">
    <i class="fas fa-caret-left me-2"></i>
    <p class="lead m-0 p-0">retour</p>
</a>
</div>
<h4 class="text-white mb-4">Profile de {{ user_details.username }}</h4>

<div class="card card-body" style="background: rgba(255, 255, 255, 0.2); border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);">
  {% csrf_token %}

    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
            <label class="form-label labelCustom" for="username">Username</label> {% if user_details.is_admin %} <b class="labelCustom">(Admin)</b> {% endif %}
            <input type="text" id="username" class="form-control" value="{{ user_details.username }}" disabled/>
        </div>
      </div>
      <div class="col">
          <div class="form-outline">
            <label class="form-label labelCustom" for="email">Email</label>
            <input type="email" id="email" class="form-control" value="{{ user_details.email }}" disabled/>
          </div>
      </div>
    </div>
  
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
            <label class="form-label labelCustom" for="fullname">Nom complet</label>
            <input type="text" id="fullname" class="form-control" value="{{ user_details.fullname }}" disabled/>
        </div>
      </div>
        <div class="col">
          <div class="form-outline">
              <label class="form-label labelCustom" for="role">Rôle</label>
              <input type="text" id="role" class="form-control" value="{{ user_details.role }}" disabled/>
          </div>
        </div>
    </div>
  
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label labelCustom" for="lines">Lignes</label> </br>
                {% for line in user_details.lines.all %}
                  <span class="badge formBadge"><p class="lead p-0 m-0 formBadgeText">{{ line.designation }}</p></span>
                {% empty %}
                  <span class="badge" style="color: #bcc2cf;">Pas de lignes associées.</span>
                {% endfor %}
            </div>
        </div>
        <div class="col">
          <div class="form-outline">
              <label class="form-label labelCustom" for="team">Équipe</label>
              <input type="text" id="team" class="form-control" value="{{ user_details.team }}" disabled/>
          </div>
        </div>
    </div>
  </div>
{% endblock %}
