{% extends "main.html" %}

{% block title %}
Utilisateur - {{ user_details.username }}
{% endblock %}
{% block activeUsers %} {% include 'active_bar.html' %} {% endblock %}
{% block content %}
<div class="d-flex justify-content-left mb-3">
  <a href="{% url 'users' %}{% if request.GET.page %}?page={{ request.GET.page }}{% endif %}" class="text-decoration-none text-white d-flex align-items-center" style="color: rgba(222, 226, 230, 0.8); letter-spacing: 1.2px;">
    <i class="fas fa-caret-left me-2" style="color: #133356;"></i>
    <p class="lead m-0 p-0" style="color: #133356;">retour</p>
</a>
</div>
<h4 class="mb-4" style="color: #133356;">Profile de {{ user_details.username }}</h4>

<div class="card card-body" style="background: rgba(19, 51, 86, 0.85); border-radius: 3px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
  {% csrf_token %}

    <div class="row mb-4">
      <div class="col-md-6 col-sm-6">
        <div class="form-outline">
            <label class="form-label labelCustom" for="username">Username</label> {% if user_details.is_admin %} <b class="labelCustom">(Admin)</b> {% endif %}
            <input type="text" id="username" class="form-control" value="{{ user_details.username }}" disabled/>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
          <div class="form-outline">
            <label class="form-label labelCustom" for="email">Email</label>
            <input type="email" id="email" class="form-control" value="{{ user_details.email }}" disabled/>
          </div>
      </div>
    </div>
  
    <div class="row mb-4">
      <div class="col-md-6 col-sm-6">
        <div class="form-outline">
            <label class="form-label labelCustom" for="first_name">Nom</label>
            <input type="text" id="first_name" class="form-control" value="{{ user_details.first_name }}" disabled/>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="form-outline">
            <label class="form-label labelCustom" for="last_name">Prénom</label>
            <input type="text" id="last_name" class="form-control" value="{{ user_details.last_name }}" disabled/>
        </div>
      </div>
    </div>
  
    <div class="row mb-4">
      <div class="col-md-6 col-sm-6">
        <div class="form-outline">
            <label class="form-label labelCustom" for="role">Profile</label>
            <input type="text" id="role" class="form-control" value="{{ user_details.role }}" disabled/>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
          <div class="form-outline">
              <label class="form-label labelCustom" for="sites">Sites</label> </br>
              {% for usine in user_details.sites.all %}
                <span class="badge formBadge"><p class="lead p-0 m-0 formBadgeText">{{ usine.designation }}</p></span>
              {% empty %}
                <span class="badge" style="color: #698ed0;">Pas d'usine associées.</span>
              {% endfor %}
          </div>
      </div>
    </div>
  </div>
{% endblock %}
