account/__pycache__/
commercial/__pycache__/
transV
report/__pycache__/
fleet/__pycache__/
report_transport/__pycache__/

*.pyc

account/migrations/*
!account/migrations/__init__.py
report/migrations/*
!report/migrations/__init__.py
commercial/migrations/*
!commercial/migrations/__init__.py
fleet/migrations/*
!fleet/migrations/__init__.py
.qodo
media/*