{% extends "main.html" %}

{% block title %}
Livraisons
{% endblock %}
{% load static %} 
{% block activeSettings %} {% include 'active_bar.html' %} {% endblock %}

{% block content %}
<div class="row mb-3">
    <form method="GET" style="{% if page %}margin: 20px 0px 0px 0px;{% else %}margin-top: 13%;{% endif %}">
        {% csrf_token %}
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-5 mb-2">
                <div class="form" style="position: relative;">
                    <i class="fa fa-search" style="position: absolute; top:12px; left: 17px; color: #2a4767;"></i>
                    {{ filtredData.form.search }}
                </div>
            </div>
            <div class="col-md-1 col-sm-6 mb-2">
                <input type="number" class="form-control" value="{% if request.GET.page_size %}{{ request.GET.page_size }}{% else %}12{% endif %}" style="background-color: #ebecee; 
                border-color: transparent; color: #133356; height: 40px; border-radius: 5px;" name="page_size">
            </div>
            <div class="col-md-1 col-sm-6 mb-2">
                <button type="submit" class="btn btn-secondary btn-block customSaveButton" style="height: 40px;">Appliquer</button>
            </div>
            <div class="col-md-1 mb-2">
                <a href="{% url 'create_livraison' %}" class="btn btn-secondary" style="background-color: #2a4767; border-color: transparent; box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); height: 40px;">Nouveau</a>
            </div>
        </div>
    </form>  
    {% if page %}
    <section class="sectionList"> 
        <table class="table table-borderless">
            <thead style="border-bottom: 2px solid white;">
                <tr class="text-white">
                <th>#</th>
                <th>Désignation</th>
                <th style="width: 40vh; text-align: center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for livraison in page %}
                <tr style="color: #dde3f0;">
                    <td>{{ livraison.id }}</td>
                    <td>{{ livraison.designation }}</td>
                    <td style="vertical-align: middle; text-align: center;">
                        <button type="button" onclick="window.location='{% url 'edit_livraison' livraison.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}'" class="btn" style="padding: 2px;"><i class="fas fa-edit" style="color: white;"></i></button>
                        <button type="button" onclick="confirmLivraisonDel('{{livraison.id|escapejs}}', '{{livraison.designation|escapejs}}')" class="btn" style="color: white; padding: 2px;"><i class="far fa-trash-alt"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if page.has_other_pages %}
            {% include 'pagination.html' %}
        {% endif %}    
    </section>
    {% else %}
        {% include 'empty_list.html' %}
    {% endif %}
</div>
<script>
    const confirmLivraisonDel = (livraisonId, livraisonDes) => {
        swal({ 
        title: `Confirmation de la suppression.`,   
        text: `Etes-vous sûr que vous voulez supprimer ${livraisonDes}?`,   
        type: "warning",
        showCancelButton: true,   
        confirmButtonColor: "#DD6B55",   
        confirmButtonText: "Oui",   
        cancelButtonText: "Non",   
        closeOnConfirm: true,   
        closeOnCancel: true }, 
        function(isConfirm){   
            if (isConfirm){
              window.location.href = "{% url 'delete_livraison' 123456789 %}".replace(/123456789/, livraisonId);
            }});
    }
</script>
{% endblock %}