{% extends "main.html" %}

{% block title %}
Recharge gasoil
{% endblock %}
{% load static %} 
{% block activeFleet %} {% include 'active_bar.html' %} {% endblock %}

{% block content %}
<div class="d-flex justify-content-left mb-3">
  <a href="{% url 'assurances' %}{% if request.GET.page %}?page={{ request.GET.page }}{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="text-decoration-none text-white d-flex align-items-center" style="color: rgba(222, 226, 230, 0.8); letter-spacing: 1.2px;">
    <i class="fas fa-caret-left me-2" style="color: #133356;"></i>
    <p class="lead m-0 p-0" style="color: #133356;">retour</p>
</a>
</div>
<h4 class="mb-4" style="color: #133356;">{% if fuel_refill %}Modification du {{ fuel_refill }}{% else %}Création d'un recharge gasoil{% endif %}</h4>

<form method="POST">
  {% csrf_token %}
  <div class="card card-body" style="background: rgba(19, 51, 86, 0.85); border-radius: 3px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="form-outline">
          <label class="form-label labelCustom" for="vehicle">Camion</label>
            {{ form.vehicle }}
            {% if form.vehicle.errors %}
                <div style="color: red;">
                {% for error in form.vehicle.errors %}
                    *{{ error }}
                {% endfor %}
                </div>
            {% endif %}
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="form-outline">
          <label class="form-label labelCustom" for="driver">Chauffeur</label>
          {{ form.driver }}
            {% if form.driver.errors %}
                <div style="color: red;">
                {% for error in form.driver.errors %}
                    *{{ error }}
                {% endfor %}
                </div>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="form-outline">
          <label class="form-label labelCustom" for="refill_date">Le</label>
            {{ form.refill_date }}
            {% if form.refill_date.errors %}
                <div style="color: red;">
                {% for error in form.refill_date.errors %}
                    *{{ error }}
                {% endfor %}
                </div>
            {% endif %}
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="form-outline">
          <label class="form-label labelCustom" for="km">Kilométrage</label>
          {{ form.km }}
            {% if form.km.errors %}
                <div style="color: red;">
                {% for error in form.km.errors %}
                    *{{ error }}
                {% endfor %}
                </div>
            {% endif %}
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="form-outline">
          <label class="form-label labelCustom" for="amount">Montant</label>
          {{ form.amount }}
            {% if form.amount.errors %}
                <div style="color: red;">
                {% for error in form.amount.errors %}
                    *{{ error }}
                {% endfor %}
                </div>
            {% endif %}
        </div>
      </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-outline">
                <label class="form-label mt-2 labelCustom" for="observation">Observation</label>
                {{ form.observation }}
                {% if form.observation.errors %}
                    <div style="color: red;">
                    {% for error in form.observation.errors %}
                        *{{ error }}
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
  </div>
  <div class="float-end mt-4">
    <input type='submit' class="btn btn-secondary customSaveButton" name='save' value="Sauvgardez"/>
  </div>
</form>
<style>
    .select2-search {
        background-color: #ebecee !important;
    }
    .select2-search input {
        background-color: #ebecee !important;
    }
    
    .select2-results {
        background-color: #ebecee !important;
    }
    
    .select2-container--bootstrap-5 .select2-selection {
        border-color: #ebecee !important;
        background-color: #ebecee !important;
    }
</style>
<script>
    $(document).ready(function() {
        $('.select2').select2({theme: 'bootstrap-5', allowClear: true, });
    });
</script>

{% endblock %}
