{% extends "main.html" %}

{% block title %}
Liste des plannings
{% endblock %}

{% load static %} 
<link rel="stylesheet" href="{% static 'css/select.css' %}">
<script src="alert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="alert/dist/sweetalert.css">
{% block activeListPlanning %} {% include 'active_bar.html' %} {% endblock %}
{% block content %}

<div class="row mb-3">
    <form method="GET" style="{% if page %}margin: 20px 0px 0px 0px;{% else %}margin-top: 13%;{% endif %}">
        {% csrf_token %}
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-lg-4 col-md-3 col-sm-6 mb-2">
                <div class="form" style="position: relative;">
                    <i class="fa fa-search" style="position: absolute; top:12px; left: 17px; color: #133356;"></i>{{ filter.form.search }}
                </div>
            </div>
            <div class="col-md-2 col-sm-6 mb-2">
                {{ filter.form.start_date }}
            </div>
            <div class="col-md-2 col-sm-6 mb-2">
                {{ filter.form.end_date }}
            </div>
            <div class="col-md-2 col-sm-6 mb-2">
                {{ filter.form.site }}
            </div>
            <div class="col-md-1 col-sm-6 mb-2">
                <input type="number" class="form-control" value="{% if request.GET.page_size %}{{ request.GET.page_size }}{% else %}12{% endif %}" style="background-color: #ebecee; 
                border-color: transparent; color: #133356; height: 40px;" name="page_size">
            </div>
            <div class="col-md-1 col-sm-6 mb-2">
                <button type="submit" class="btn btn-secondary btn-block customSaveButton" style="height: 40px;">Appliquer</button>
            </div>
        </div>
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-4 col-sm-12 mb-2">
                <div class="form" style="position: relative;">
                    <i class="fa fa-search" style="position: absolute; top:12px; left: 17px; color: #133356;"></i>{{ filter.form.distru }}
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-2">
                {{ filter.form.state }}
            </div>
        </div>
    </form>
    {% if page %}
        {% if user.role in 'Commercial,Admin' %}
            <div class="mb-2">
                <div id="send-planning-container" class="mb-3" style="display: none;">
                    <button id="send-planning-button" class="btn btn-primary" onclick="sendSelectedPlannings()">Envoyer les Plannings</button>
                </div>
                <div class="mb-2"><div id="send-missed-container" class="mb-3">
                    <button id="send-missed-button" class="btn btn-danger" onclick="sendMissedPlannings()">Envoyer les Plannings Ratés Uniquement</button>
                </div>
            </div>
        {% endif %}
        {% if user.role in 'Logisticien,Admin' %}
            <div class="mb-2 d-flex">
                <div id="send-supplier-container" class="mb-3" style="display: none; margin-right: 5px;">
                    <button id="send-supplier-button" class="btn btn-success" onclick="sendPlanningSupplier()">Envoyer au Fournisseur</button>
                </div>
                <div class="mb-3">
                    <button class="btn btn-secondary" onclick="sendPlanningConfirmed()">Envoyer les plannings confirmés</button>
                </div>
            </div>
        {% endif %}
        <section class="sectionList"> 
            <div class="tableStyle">
                <table class="table table-borderless">
                    <thead style="border-bottom: 2px solid white;">
                        <tr class="text-white" style="vertical-align: middle; font-size: 13px;">
                            {% if user.role in 'Commercial,Admin' %}<th class="d-none d-lg-table-cell"><input type="checkbox" id="select-all-comm" onclick="toggleSelectCommAll(this)"></th>{% endif %}
                            {% if user.role in 'Logisticien,Admin' %}<th class="d-none d-lg-table-cell"><input type="checkbox" id="select-all-log" onclick="toggleSelectLogAll(this)"></th>{% endif %}
                            <th class="d-none d-lg-table-cell">N° Planning</th>
                            <th class="d-none d-lg-table-cell">Créateur</th>
                            <th class="d-none d-lg-table-cell" style="width: 10vw;">Date de création</th>
                            <th class="d-none d-lg-table-cell">Distributeur</th>
                            <th class="d-none d-lg-table-cell">Client</th>
                            <th class="d-none d-lg-table-cell">Tonnage</th>
                            <th class="d-none d-lg-table-cell">Destination</th>
                            <th class="d-none d-lg-table-cell">Date Planning</th>
                            <th class="d-none d-lg-table-cell">Fournisseur</th>
                            <th class="d-none d-lg-table-cell">N° BL</th>
                            <th class="d-none d-lg-table-cell">État</th>
                            {% if user.role in 'Commercial,Admin' %}<th class="d-none d-lg-table-cell">Actions</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for planning in page %}
                        <tr class="trS">
                            {% if user.role in 'Commercial,Admin' %}
                                <td>
                                    {% if planning.state == 'Planning' and user.role in 'Commercial,Admin' %}
                                        {% if planning.creator == user or user.role == 'Admin' %}
                                            <input type="checkbox" class="planning-checkbox" value="{{ planning.id }}" onclick="toggleSendPlanningButton()">
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% endif %}
                            {% if user.role in 'Logisticien,Admin' %}
                                <td>
                                    {% if planning.state == 'Planning en Attente' and user.role in 'Logisticien,Admin' and not planning.supplier_informed %}
                                        <input type="checkbox" class="supplier-checkbox" value="{{ planning.id }}" onclick="toggleSendSupplierButton()">
                                    {% endif %}
                                </td>
                            {% endif %}
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer;">
                                <div>
                                    <p class="d-lg-none tdLabel">N° Planning</p>
                                    <p class="valueLead mb-0">{{ planning }}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer;">
                                <div>
                                    <p class="d-lg-none tdLabel">Créateur</p>
                                    <p class="valueLead mb-0">{{ planning.creator }}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer;">
                                <div>
                                    <p class="d-lg-none tdLabel">Date de création</p>
                                    <p class="valueLead mb-0">{{ planning.date_created|date:"d/m/Y H:i" }}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer;">
                                <div>
                                    <p class="d-lg-none tdLabel">Distributeur</p>
                                    <p class="valueLead mb-0">{{ planning.distributeur }}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer;">
                                <div>
                                    <p class="d-lg-none tdLabel">Client</p>
                                    <p class="valueLead mb-0">{{ planning.client }}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer;">
                                <div>
                                    <p class="d-lg-none tdLabel">Tonnage</p>
                                    <p class="valueLead mb-0">{% if planning.tonnage %}{{ planning.tonnage }}{% else %}/{% endif %}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer;">
                                <div>
                                    <p class="d-lg-none tdLabel">Destination</p>
                                    <p class="valueLead mb-0">{{ planning.destination }}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer;">
                                <div>
                                    <p class="d-lg-none tdLabel">Date Planning</p>
                                    <p class="valueLead mb-0">{{ planning.date_planning_final|date:"d/m/Y" }}{% if planning.date_replanning %}*{% endif %}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer;">
                                <div>
                                    <p class="d-lg-none tdLabel">Fournisseur</p>
                                    <p class="valueLead mb-0">{% if planning.fournisseur %}{{ planning.fournisseur }}{% if planning.supplier_informed %}*{% endif %}{% else %}/{% endif %}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer;">
                                <div>
                                    <p class="d-lg-none tdLabel">N° BL</p>
                                    <p class="valueLead mb-0">{% if planning.n_bl %}{{ planning.n_bl }}{% else %}/{% endif %}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer;">
                                <div>
                                    <p class="d-lg-none tdLabel">État</p>
                                    <p class="valueLead mb-0">{{ planning.state }}</p>
                                </div>
                            </td>
                            {% if user.role in 'Commercial,Admin' %}
                                <td class="tdLast td-center">
                                    <button type="button" {% if planning.state != 'Brouillon' and not user.is_admin or planning.creator != user and not user.is_admin %} disabled {% endif %} style="padding: 2px;" onclick="window.location='{% url 'edit_planning' planning.id %}'" class="btn"><i class="fas fa-edit" style="color: white;"></i></button>
                                    <button type="button" {% if planning.state != 'Brouillon' and not user.is_admin or planning.creator != user and not user.is_admin %} disabled {% endif %} style="padding: 2px;" onclick="confirmPlanningDel('{{planning.id|escapejs}}', '{{planning|escapejs}}')" class="btn"><i class="far fa-trash-alt" style="color: white;"></i></button>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if page.has_other_pages %}
                {% include 'pagination.html' %}
            {% endif %}    
        </section>
        </div>
    {% else %}
        {% include 'empty_list.html' %}
    {% endif %}
</div>
<style>
    select option {
        background: rgba(235, 236, 238, 0.9);
        color: #1b497c;
    }
    .sectionList{
        margin-top: 35px;
        background: rgba(147, 164, 186, 0.2);
        border-radius: 5px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    td:first-child, th:first-child {
        border-radius: 10px 0 0 10px;
    }
    
    td:last-child, th:last-child {
        border-radius: 0 10px 10px 0;
    }
    td, th{
      font-size: 15px;
      font-weight: 700;
      color: white;
    }
    .valueLead{
        color: white;
        font-size: 13px;
        font-weight: 400;
    }
    .valueLeadTotal{
        color: green;
    }
    .tdLabel{
        font-weight: 700;
        display: block;
        color: white; 
        font-size: 13px; 
        margin-bottom: 5px;
    }
    .trS {
        border-color: transparent; 
        color: #dde3f0;
        border-radius: 6px;
    }
    .lateMonth{
      color: red;
    }
    
    @media only screen and (max-width: 992px) {
        th, td { 
            width: 100%; 
            display: block;
            box-sizing: border-box;
            margin: 0 0 2px 10px;
        }
        .trS {
            border-left: 4px solid #8b99b0;
            border-radius: 6px;
            color: #dde3f0;
            border-top: 10px solid transparent;
        }
        .tdLast{
            border-bottom: 2px solid #3f9894;
        }
        .td-center{
            text-align: center;
        }
    }
</style>

<script>
    function toggleSelectCommAll(source) {
        checkboxes = document.getElementsByClassName('planning-checkbox');
        for(var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
        toggleSendPlanningButton();
    }
    function toggleSelectLogAll(source) {
        checkboxes = document.getElementsByClassName('supplier-checkbox');
        for(var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
        toggleSendSupplierButton();
    }

    function toggleSendPlanningButton() {
        const checkboxes = document.querySelectorAll('.planning-checkbox:checked');
        const sendPlanningContainer = document.getElementById('send-planning-container');
        const sendMissedContainer = document.getElementById('send-missed-container');
        if (checkboxes.length > 0) {
            sendPlanningContainer.style.display = 'block';
            sendMissedContainer.style.display = 'none';
        } else {
            sendPlanningContainer.style.display = 'none';
            sendMissedContainer.style.display = 'block';
        }
    }

    function toggleSendSupplierButton() {
        const checkboxes = document.querySelectorAll('.supplier-checkbox:checked');
        const sendSupplierContainer = document.getElementById('send-supplier-container');
        if (checkboxes.length > 0) {
            sendSupplierContainer.style.display = 'block';
        } else {
            sendSupplierContainer.style.display = 'none';
        }
    }

    function sendSelectedPlannings() {
        const checkboxes = document.querySelectorAll('.planning-checkbox:checked');
        const ids = Array.from(checkboxes).map(cb => cb.value);
        const url = "{% url 'send_selected_plannings' %}";
        const csrfToken = "{{ csrf_token }}";
        fetch(url, {method: 'POST', headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrfToken,}, body: JSON.stringify({ ids: ids }),})
        .then(response => {
            if (!response.ok) {swal("Erreur", "Une erreur s'est produite.", "error");}
            return response.json();
        }).then(data => {
            if(!data.OK){swal("Attention", data.message, "warning");}
            else{
                swal("Succès", data.message, "success");
                setTimeout(function() {window.location.reload();}, 3000);
            }
        });
    }

    function sendPlanningSupplier() {
        const checkboxes = document.querySelectorAll('.supplier-checkbox:checked');
        const ids = Array.from(checkboxes).map(cb => cb.value);
        const url = "{% url 'send_selected_supplier' %}";
        const csrfToken = "{{ csrf_token }}";
        fetch(url, {method: 'POST', headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrfToken,}, body: JSON.stringify({ ids: ids }),})
        .then(response => {
            if (!response.ok) {swal("Erreur", "Une erreur s'est produite.", "error");}
            return response.json();
        }).then(data => {
            if(!data.OK){swal("Attention", data.message, "warning");}
            else{
                swal("Succès", data.message, "success");
                setTimeout(function() {window.location.reload();}, 3000);
            }
        });
    }
    
    function sendPlanningConfirmed() {
        const url = "{% url 'send_confirmed' %}";
        const csrfToken = "{{ csrf_token }}";
        fetch(url, {method: 'POST', headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrfToken,},})
        .then(response => {
            if (!response.ok) {swal("Erreur", "Une erreur s'est produite.", "error");}
            return response.json();
        }).then(data => {
            if(!data.OK){swal("Attention", data.message, "warning");}
            else{
                swal("Succès", data.message, "success");
                setTimeout(function() {window.location.reload();}, 3000);
            }
        });
    }

    function sendMissedPlannings() {
        const url = "{% url 'send_selected_plannings' %}";
        const csrfToken = "{{ csrf_token }}";
        fetch(url, {method: 'POST', headers: {'Content-Type': 'application/json', 'X-CSRFToken': csrfToken,}, body: JSON.stringify({ ids: [] }),})
        .then(response => {
            if (!response.ok) {swal("Erreur", "Une erreur s'est produite.", "error");}
            return response.json();
        }).then(data => {
            if(!data.OK){swal("Attention", data.message, "warning");}
            else{
                swal("Succès", data.message, "success");
                setTimeout(function() {window.location.reload();}, 3000);
            }
        });
    }
    const confirmPlanningDel = (planningID, planningDes) => {
        swal({ 
        title: `Confirmation de la suppression.`,   
        text: `Etes-vous sûr que vous voulez supprimer le planning avec ${planningDes}?`,   
        type: "warning",
        showCancelButton: true,   
        confirmButtonColor: "#DD6B55",   
        confirmButtonText: "Oui",   
        cancelButtonText: "Non",   
        closeOnConfirm: true,   
        closeOnCancel: true },
        function(isConfirm){   
            if (isConfirm){
              window.location.href = "{% url 'delete_planning' 123456789 %}".replace(/123456789/, planningID);
            }});
    };
</script>
{% endblock %}
