{% extends "main.html" %}

{% block title %}
Liste des plannings
{% endblock %}

{% load static %} 
<link rel="stylesheet" href="{% static 'css/select.css' %}">
<script src="alert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="alert/dist/sweetalert.css">
{% block activeListPlanning %} {% include 'active_bar.html' %} {% endblock %}
{% block content %}

<div class="row mb-3">
    <form method="GET" style="{% if page %}margin: 20px 0px 0px 0px;{% else %}margin-top: 13%;{% endif %}">
        {% csrf_token %}
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-lg-4 col-md-3 col-sm-6 mb-2">
                <div class="form" style="position: relative;">
                    <i class="fa fa-search" style="position: absolute; top:12px; left: 17px; color: #133356;"></i>{{ filter.form.search }}
                </div>
            </div>
            <div class="col-md-2 col-sm-6 mb-2">
                {{ filter.form.start_date }}
            </div>
            <div class="col-md-2 col-sm-6 mb-2">
                {{ filter.form.end_date }}
            </div>
            <div class="col-md-2 col-sm-6 mb-2">
                {{ filter.form.site }}
            </div>
            <div class="col-md-1 col-sm-6 mb-2">
                <input type="number" class="form-control" value="{% if request.GET.page_size %}{{ request.GET.page_size }}{% else %}12{% endif %}" style="background-color: #ebecee; 
                border-color: transparent; color: #133356; height: 40px;" name="page_size">
            </div>
            <div class="col-md-1 col-sm-6 mb-2">
                <button type="submit" class="btn btn-secondary btn-block customSaveButton" style="height: 40px;">Appliquer</button>
            </div>
        </div>
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-4 col-sm-12 mb-2">
                <div class="form" style="position: relative;">
                    <i class="fa fa-search" style="position: absolute; top:12px; left: 17px; color: #133356;"></i>{{ filter.form.bl_number }}
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mb-2">
                <div class="form" style="position: relative;">
                    <i class="fa fa-search" style="position: absolute; top:12px; left: 17px; color: #133356;"></i>{{ filter.form.distru }}
                </div>
            </div>
            <div class="col-md-2 col-sm-12 mb-2">
                {{ filter.form.scan_state }}
            </div>
            <div class="col-md-2 col-sm-12 mb-2">
                {{ filter.form.state }}
            </div>
        </div>
    </form>
    {% if page %}
        <div class="mb-3">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                </button>
                <ul class="dropdown-menu">
                    {% if user.role in 'Commercial,Admin' %}
                        <li><a class="dropdown-item" href="#" onclick="sendSelectedPlannings()">Envoyer les Plannings</a></li>
                        <li><a class="dropdown-item" href="#" onclick="sendMissedPlannings()">Envoyer les Plannings Ratés</a></li>
                    {% endif %}
                    {% if user.role in 'Logisticien,Admin' %}
                        <li><a class="dropdown-item" href="#" onclick="sendPlanningSupplier()">Envoyer au Fournisseur</a></li>
                        <li><a class="dropdown-item" href="#" onclick="sendPlanningConfirmed()">Envoyer les plannings confirmés</a></li>
                    {% endif %}
                    {% if user.role in 'Admin' %}
                        <li><a class="dropdown-item" href="#" onclick="changePlanningDates()">Changer les dates</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <section class="sectionList"> 
            <div class="tableStyle">
                <table class="table table-borderless">
                    <thead style="border-bottom: 2px solid white;">
                        <tr class="text-white" style="vertical-align: middle; font-size: 13px;">
                            <th class="d-none d-lg-table-cell"><input type="checkbox" id="select-all" onclick="toggleSelectAll(this)"></th>
                            <th class="d-none d-lg-table-cell">N° Planning</th>
                            <th class="d-none d-lg-table-cell">Créateur</th>
                            <th class="d-none d-lg-table-cell" style="width: 10vw;">Date de création</th>
                            <th class="d-none d-lg-table-cell">Distributeur</th>
                            <th class="d-none d-lg-table-cell">Client</th>
                            <th class="d-none d-lg-table-cell">Tonnage</th>
                            <th class="d-none d-lg-table-cell">Destination</th>
                            <th class="d-none d-lg-table-cell">Date Planning</th>
                            <th class="d-none d-lg-table-cell">Fournisseur</th>
                            <th class="d-none d-lg-table-cell">N° BL</th>
                            <th class="d-none d-lg-table-cell">État</th>
                            {% if user.role in 'Commercial,Admin' %}<th class="d-none d-lg-table-cell">Actions</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for planning in page %}
                        <tr class="trS">
                            <td>
                                <input type="checkbox" class="planning-checkbox" value="{{ planning.id }}" 
                                    data-planning-state="{{ planning.state }}"
                                    data-creator-id="{{ planning.creator.id }}"
                                    data-supplier-informed="{% if planning.supplier_informed %}true{% else %}false{% endif %}">
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer; ">
                                <div>
                                    <p class="d-lg-none tdLabel">N° Planning</p>
                                    <p class="valueLead {% if planning.is_delivered %}delivered{% elif planning.is_missing_delivery_overdue  %}overdue{% endif %} mb-0">{{ planning }}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer; ">
                                <div>
                                    <p class="d-lg-none tdLabel">Créateur</p>
                                    <p class="valueLead {% if planning.is_delivered %}delivered{% elif planning.is_missing_delivery_overdue  %}overdue{% endif %} mb-0">{{ planning.creator }}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer; ">
                                <div>
                                    <p class="d-lg-none tdLabel">Date de création</p>
                                    <p class="valueLead {% if planning.is_delivered %}delivered{% elif planning.is_missing_delivery_overdue  %}overdue{% endif %} mb-0">{{ planning.date_created|date:"d/m/Y H:i" }}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer; ">
                                <div>
                                    <p class="d-lg-none tdLabel">Distributeur</p>
                                    <p class="valueLead {% if planning.is_delivered %}delivered{% elif planning.is_missing_delivery_overdue  %}overdue{% endif %} mb-0">{{ planning.distributeur }}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer; ">
                                <div>
                                    <p class="d-lg-none tdLabel">Client</p>
                                    <p class="valueLead {% if planning.is_delivered %}delivered{% elif planning.is_missing_delivery_overdue  %}overdue{% endif %} mb-0">{{ planning.client }}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer; ">
                                <div>
                                    <p class="d-lg-none tdLabel">Tonnage</p>
                                    <p class="valueLead {% if planning.is_delivered %}delivered{% elif planning.is_missing_delivery_overdue  %}overdue{% endif %} mb-0">{% if planning.tonnage %}{{ planning.tonnage }}{% else %}/{% endif %}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer; ">
                                <div>
                                    <p class="d-lg-none tdLabel">Destination</p>
                                    <p class="valueLead {% if planning.is_delivered %}delivered{% elif planning.is_missing_delivery_overdue  %}overdue{% endif %} mb-0">{{ planning.destination }}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer; ">
                                <div>
                                    <p class="d-lg-none tdLabel">Date Planning</p>
                                    <p class="valueLead {% if planning.is_delivered %}delivered{% elif planning.is_missing_delivery_overdue  %}overdue{% endif %} mb-0">{{ planning.date_planning_final|date:"d/m/Y" }}{% if planning.date_replanning %}*{% endif %}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer; ">
                                <div>
                                    <p class="d-lg-none tdLabel">Fournisseur</p>
                                    <p class="valueLead {% if planning.is_delivered %}delivered{% elif planning.is_missing_delivery_overdue  %}overdue{% endif %} mb-0">{% if planning.fournisseur %}{{ planning.fournisseur }}{% if planning.supplier_informed %}*{% endif %}{% else %}/{% endif %}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer; ">
                                <div>
                                    <p class="d-lg-none tdLabel">N° BL</p>
                                    <p class="valueLead {% if planning.is_delivered %}delivered{% elif planning.is_missing_delivery_overdue  %}overdue{% endif %} mb-0">{% if planning.n_bl %}{{ planning.site.prefix_site }}{{ planning.n_bl|stringformat:"05d" }}/{{ planning.date_honored|date:"y" }}{% else %}/{% endif %}</p>
                                </div>
                            </td>
                            <td onclick="window.location='{% url 'view_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}'"  style="cursor: pointer; ">
                                <div>
                                    <p class="d-lg-none tdLabel">État</p>
                                    <p class="valueLead {% if planning.is_delivered %}delivered{% elif planning.is_missing_delivery_overdue  %}overdue{% endif %} mb-0">{{ planning.state }}</p>
                                </div>
                            </td>
                            {% if user.role in 'Commercial,Admin' %}
                                <td class="tdLast td-center">
                                    <button type="button" {% if planning.state != 'Brouillon' and not user.role == 'Admin' or planning.creator != user and not user.role == 'Admin' %} disabled {% endif %} style="padding: 2px;" onclick="window.location='{% url 'edit_planning' planning.id %}{% if request.GET.page %}?page={{ request.GET.page }}{% else %}?page=1{% endif %}{% if request.GET.page_size %}&page_size={{ request.GET.page_size }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.state %}&state={{ request.GET.state }}{% endif %}{% if request.GET.distru %}&distru={{ request.GET.distru }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}{% if request.GET.site %}&site={{ request.GET.site }}{% endif %}'" class="btn"><i class="fas fa-edit" style="color: white;"></i></button>
                                    <button type="button" {% if planning.state != 'Brouillon' and not user.role == 'Admin' or planning.creator != user and not user.role == 'Admin' %} disabled {% endif %} style="padding: 2px;" onclick="confirmPlanningDel('{{planning.id|escapejs}}', '{{planning|escapejs}}')" class="btn"><i class="far fa-trash-alt" style="color: white;"></i></button>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if page.has_other_pages %}
                {% include 'pagination.html' %}
            {% endif %}    
        </section>
    {% else %}
        {% include 'empty_list.html' %}
    {% endif %}
</div>
<style>
    select option {
        background: rgba(235, 236, 238, 0.9);
        color: #1b497c;
    }
    .sectionList{
        margin-top: 35px;
        background: rgba(147, 164, 186, 0.2);
        border-radius: 5px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    td:first-child, th:first-child {
        border-radius: 10px 0 0 10px;
    }
    
    td:last-child, th:last-child {
        border-radius: 0 10px 10px 0;
    }
    td, th{
      font-size: 15px;
      font-weight: 700;
      color: white;
    }
    .valueLead{
        font-size: 13px;
    }
    .valueLeadTotal{
        color: green;
    }
    .tdLabel{
        font-weight: 700;
        display: block;
        color: white; 
        font-size: 13px; 
        margin-bottom: 5px;
    }
    .trS {
        border-color: transparent; 
        color: #dde3f0;
        border-radius: 6px;
    }
    .lateMonth{
      color: red;
    }
    
    @media only screen and (max-width: 992px) {
        th, td { 
            width: 100%; 
            display: block;
            box-sizing: border-box;
            margin: 0 0 2px 10px;
        }
        .trS {
            border-left: 4px solid #8b99b0;
            border-radius: 6px;
            color: #dde3f0;
            border-top: 10px solid transparent;
        }
        .tdLast{
            border-bottom: 2px solid #3f9894;
        }
        .td-center{
            text-align: center;
        }
    }
    
    .delivered{
        color: #5CCB8A;
    }
    .overdue{
        color: #F26D6D;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function toggleSelectAll(source) {
        const checkboxes = document.querySelectorAll('.planning-checkbox');
        checkboxes.forEach(checkbox => {
            checkbox.checked = source.checked;
        });
    }

    async function makeRequest(url, data = {}) {
        const csrfToken = "{{ csrf_token }}";
        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify(data)
            });
            
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            
            return await response.json();
        } catch (error) {
            console.error('Error:', error);
            throw error;
        }
    }

    async function handleResponse(promise) {
        swal({
                title: "Veuillez patienter...",
                text: "en cours...",
                icon: "info",
                buttons: false,
                closeOnClickOutside: false,
                closeOnEsc: false
            });
        try {
            const data = await promise;
            if (!data.OK) {
                swal("Attention", data.message, "warning");
            } else {
                swal("Succès", data.message, "success");
                setTimeout(() => window.location.reload(), 3000);
            }
        } catch (error) {
            swal("Erreur", "Une erreur s'est produite.", "error");
        }
    }

    function getSelectedPlannings(filterFn) {
        const selected = [];
        document.querySelectorAll('.planning-checkbox:checked').forEach(checkbox => {
            if (filterFn(checkbox)) {
                selected.push(checkbox.value);
            }
        });
        return selected;
    }

    function sendSelectedPlannings() {
        const selected = getSelectedPlannings(checkbox => 
            checkbox.dataset.planningState === 'Planning' && 
            (checkbox.dataset.creatorId === '{{ user.id }}' || '{{ user.role }}' === 'Admin')
        );
        
        if (selected.length === 0) {
            swal("Attention", "Veuillez sélectionner au moins un planning à envoyer.", "warning");
            return;
        }

        handleResponse(
            makeRequest("{% url 'send_selected_plannings' %}", { ids: selected })
        );
    }

    function sendPlanningSupplier() {
        const selected = getSelectedPlannings(checkbox => 
            checkbox.dataset.planningState === 'Planning en Attente' && 
            checkbox.dataset.supplierInformed === 'false'
        );
        
        if (selected.length === 0) {
            swal("Attention", "Veuillez sélectionner au moins un planning en attente non envoyé déjà.", "warning");
            return;
        }

        handleResponse(
            makeRequest("{% url 'send_selected_supplier' %}", { ids: selected })
        );
    }

    function sendPlanningConfirmed() {
        handleResponse(
            makeRequest("{% url 'send_confirmed' %}")
        );
    }

    function sendMissedPlannings() {
        handleResponse(
            makeRequest("{% url 'send_missed_plannings' %}")
        );
    }

    function changePlanningDates() {
        const selected = getSelectedPlannings(checkbox => 
            checkbox.dataset.planningState !== 'Livraison Confirmé' && 
            (checkbox.dataset.creatorId === '{{ user.id }}' || '{{ user.role }}' === 'Admin')
        );
        
        if (selected.length === 0) {
            Swal.fire({
                title: "Attention",
                text: "Veuillez sélectionner au moins un planning à modifier.",
                icon: "warning"
            });
            return;
        }

        Swal.fire({
            title: "Changer les dates",
            text: "Sélectionnez la nouvelle date pour les plannings sélectionnés:",
            html: `
                <input type="date" id="dateInput" class="swal2-input" required>
            `,
            focusConfirm: false,
            showCancelButton: true,
            confirmButtonText: "Confirmer",
            cancelButtonText: "Annuler",
            preConfirm: () => {
                const dateInput = document.getElementById('dateInput');
                if (!dateInput.value) {
                    Swal.showValidationMessage("Veuillez sélectionner une date");
                    return false;
                }
                return dateInput.value;
            }
        }).then((result) => {
            if (result.isConfirmed) {
                const newDate = result.value;
                
                Swal.fire({
                    title: "Traitement en cours",
                    html: "Mise à jour des dates...",
                    allowOutsideClick: false,
                    didOpen: () => {
                        Swal.showLoading();
                    }
                });

                const url = "{% url 'change_planning_dates' %}";
                const csrfToken = "{{ csrf_token }}";
                
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({
                        ids: selected,
                        new_date: newDate
                    })
                })
                .then(response => {
                    if (!response.ok) throw new Error("Network response was not ok");
                    return response.json();
                })
                .then(data => {
                    Swal.close();
                    if (!data.OK) {
                        Swal.fire("Attention", data.message, "warning");
                    } else {
                        Swal.fire("Succès", data.message, "success");
                        setTimeout(() => window.location.reload(), 3000);
                    }
                })
                .catch(error => {
                    Swal.close();
                    Swal.fire("Erreur", "Une erreur s'est produite lors de la mise à jour des dates.", "error");
                });
            }
        });
    }

    const confirmPlanningDel = (planningID, planningDes) => {
        swal({ 
        title: `Confirmation de la suppression.`,   
        text: `Etes-vous sûr que vous voulez supprimer le planning avec ${planningDes}?`,   
        type: "warning",
        showCancelButton: true,   
        confirmButtonColor: "#DD6B55",   
        confirmButtonText: "Oui",   
        cancelButtonText: "Non",   
        closeOnConfirm: true,   
        closeOnCancel: true },
        function(isConfirm){   
            if (isConfirm){
              window.location.href = "{% url 'delete_planning' 123456789 %}".replace(/123456789/, planningID);
            }});
    };
</script>
{% endblock %}
