{% extends "main.html" %}

{% block title %}
Planning - {{ planning }}
{% endblock %}
{% load static %} 
{% block activeListPlanning %} {% include 'active_bar.html' %} {% endblock %}
{% block content %}

<div class="row mt-3"></div>
<div class="row">
    <div class="col-md-12" style="margin-bottom: 20px;">
        <div class="card" style="background: rgba(19, 51, 86, 0.85); border-radius: 2px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); color: #b7b9bd;">
            <div class="card-body p-3">
                <div class="form-group row mb-1">
                    <label class="col-sm-3 col-form-label" style="color: #f2f3f2;">N° Planning</label>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext text-white" style="border-bottom: 1px solid rgba(171, 175, 181, 0.4); letter-spacing: 1.2px;">
                            {{ planning }}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-3 col-form-label" style="color: #f2f3f2;">Créer par</label>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext text-white" style="border-bottom: 1px solid rgba(171, 175, 181, 0.4); letter-spacing: 1.2px;">
                            {{ planning.creator }}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-3 col-form-label" style="color: #f2f3f2;">Distributeur</label>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext text-white" style="border-bottom: 1px solid rgba(171, 175, 181, 0.4); letter-spacing: 1.2px;">
                            {{ planning.distributeur }}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-3 col-form-label" style="color: #f2f3f2;">Client</label>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext text-white" style="border-bottom: 1px solid rgba(171, 175, 181, 0.4); letter-spacing: 1.2px;">
                            {{ planning.client }}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-3 col-form-label" style="color: #f2f3f2;">Date de planning</label>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext text-white" style="border-bottom: 1px solid rgba(171, 175, 181, 0.4); letter-spacing: 1.2px;">
                            {{ planning.date_planning }}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-3 col-form-label" style="color: #f2f3f2;">Destination</label>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext text-white" style="border-bottom: 1px solid rgba(171, 175, 181, 0.4); letter-spacing: 1.2px;">
                            {{ planning.destination }}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-3 col-form-label" style="color: #f2f3f2;">Livraison</label>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext text-white" style="border-bottom: 1px solid rgba(171, 175, 181, 0.4); letter-spacing: 1.2px;">
                            {{ planning.livraison }}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-3 col-form-label" style="color: #f2f3f2;">Observation Commercial</label>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext text-white" style="border-bottom: 1px solid rgba(171, 175, 181, 0.4); letter-spacing: 1.2px;">
                            {% if planning.observation_comm  %}{{ planning.observation_comm }}{% else %}/{% endif %}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-3 col-form-label" style="color: #f2f3f2;">Fournisseur</label>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext text-white" style="border-bottom: 1px solid rgba(171, 175, 181, 0.4); letter-spacing: 1.2px;">
                            {{ planning.fournisseur }}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-3 col-form-label" style="color: #f2f3f2;">Date Honorée</label>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext text-white" style="border-bottom: 1px solid rgba(171, 175, 181, 0.4); letter-spacing: 1.2px;">
                            {{ planning.date_honored }}
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-1">
                    <label class="col-sm-3 col-form-label" style="color: #f2f3f2;">Tonnage</label>
                    <div class="col-sm-9">
                        <div class="form-control-plaintext text-white" style="border-bottom: 1px solid rgba(171, 175, 181, 0.4); letter-spacing: 1.2px;">
                            {{ planning.tonnage }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="POST" class='mb-4'>
    {% csrf_token %}
    <div class="card card-body" style="background: rgba(19, 51, 86, 0.85); border-radius: 3px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);">
        <div class="row mb-4">
            <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                <div class="form-outline">
                    <label class="form-label labelCustom" for="chauffeur">Chauffeur</label><br>
                    {{ form.chauffeur }}
                        {% if form.chauffeur.errors %}
                            <div style="color: red;">
                            {% for error in form.chauffeur.errors %}
                                *{{ error }}
                            {% endfor %}
                            </div>
                        {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                <div class="form-outline">
                    <label class="form-label labelCustom" for="immatriculation">Immatriculation</label><br>
                    {{ form.immatriculation }}
                        {% if form.immatriculation.errors %}
                            <div style="color: red;">
                            {% for error in form.immatriculation.errors %}
                                *{{ error }}
                            {% endfor %}
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-outline">
                    <label class="form-label mt-2 labelCustom" for="observation_logi">Observation</label>
                    {{ form.observation_logi }}
                    {% if form.observation_logi.errors %}
                        <div style="color: red;">
                        {% for error in form.observation_logi.errors %}
                            *{{ error }}
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center form-group m-4">
            <button type="submit" class="btn btn-success">Completer</button>
        </div>
</form>
<style>
    .select2-search {
        background-color: #ebecee !important;
    }
    .select2-search input {
        background-color: #ebecee !important;
    }
    
    .select2-results {
        background-color: #ebecee !important;
    }
    
    .select2-container--bootstrap-5 .select2-selection {
        border-color: #ebecee !important;
        background-color: #ebecee !important;
    }
</style>
<script>
    $(document).ready(function() {
        $('.form-select').select2({theme: 'bootstrap-5', allowClear: true, });
    });
</script>
{% endblock %}
